html {
  scroll-behavior: smooth;
}
.btn:focus {
  opacity: 0.9;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-layout {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero-content h2 {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
