body {
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: #e2e8f0;
  line-height: 1;
}
a {
  text-decoration: none;
  color: white;
}
.btn {
  display: inline-block;
  background: #38bdf8;
  color: black;
  padding: 0.7rem 1.5rem;
  border-radius: 999px;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.05);
  background: #0ea5e9;
}
.section {
  padding: 3rem 1rem;
  text-align: center;
}
.nav {
  background-color: #38bdf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-links {
  display: none;
  list-style: none;
}
.skills li {
  margin: 0.5rem 0;
  list-style: none;
  text-align: center;
}
.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* makes it round */
  object-fit: cover; /* prevents stretching */
  border: 2px solid var(--accent);
}
